
#root {
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.form-wrapper {
  border: 1px #DCEDF6 solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: auto;
}

.title {
  background-color: #DCEDF6;
  padding: 20px;
}

.title > h1 {
  font-size: 1.3em;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}

.form-group {
  padding: 25px 20px 5px 20px;
  display: flex;
  align-items: center;
}

.checkbox-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.checkbox-div > .form-group {
  padding-bottom: 5px;
}

.checkbox-input {
  display: flex;
  align-items: center;
}

.checkbox-input label {
  margin-left: 5px;
}

.form-group label {
  width: 125px;
}

.form-group .input,
.form-group .dropdown,
.form-group .choices {
  display: flex;
  width: 250px;
}

.form-group .input input {
  flex: 1 1 auto;
  display: block;
}

.ui.selection.dropdown>.delete.icon,
.ui.selection.dropdown>.dropdown.icon,
.ui.selection.dropdown>.search.icon {
  background-color: #EEEEEE;
  margin-right: -1.1em;
  border-radius: 0 .28571429rem .28571429rem 0;
}

.choices {
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 4px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

/*.choices:focus {*/
  /*border: 1px solid rgba(73, 155, 207, 0.69);*/
/*}*/

.choices .choices-top {
  display: flex;
}

.choices .choices-top .add {
  height: 38px;
  width: 28px;
  border: none;
  background-color: #EEEEEE;
}

.choices .choices-top .ui.input {
  width: 222px;
  border-radius: .28571429rem 0 0 0;
  border-bottom: 2px solid rgba(34,36,38,.15);
  height: 38px;
}

.choices .choices-top input {
  border-radius: .28571429rem 0 0 0;
}

.choices > ul {
  overflow-y: scroll;
  list-style: none;
  padding: 0;
}

.choices .list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(34,36,38,.15);
  align-items: center;
  padding: 10px;
}

.choices .list-item p {
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 20px 20px 20px;
}

.buttons .save {
  background-color: #73B566;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.buttons .save:hover {
  background-color: #609d58;
}

.buttons .cancel {
  color: #EE645B;
  border: none;
  margin-left: 10px;
  padding: 0;
  background-color: #fff;
}

.buttons .cancel:hover {
  color: #b64943;
}

.error {
  color: #EE645B;
  text-align: left;
  margin: 0 0 0 145px;
  white-space: pre-wrap;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 480px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-group label {
    margin-bottom: 5px;
  }
  .checkbox-div {
    align-items: flex-start;
  }
  .checkbox-input {
    padding-left: 20px;
  }
  .error {
    margin: 0 0 0 20px;
  }
}